.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#sidebar {
  float: left;
  width: 20%;
  height: 100%;
  background: #373a47;
}

.content {
  float: right;
  width: 79%;
  height: 100%;
/*  margin: 0px 0px 0px 0px;
  padding: 30px 30px 30px 30px;*/
}

/*
 * Navigation bar style
 */
nav ul {
  /*font-size:var(--fontsize-nav) ;*/
  text-align: left;
  /*text-decoration: none;*/
  /*color: white !important;*/
  list-style-type: none;
  height: 100vh;
  /*background: lightgray;*/
  margin: 120px 40px 40px 40px;
  padding: 0px 0px 0px 0px;
  /*border: 1px;*/
  /*border-style: solid;*/
  /*border-color: black;*/
}

nav ul li {
  margin:10px;
  padding:10px;
  font-weight: 900;
  font-size: 18px;
  display: block;
}

/*
nav ul li .menu-icon {
  float: left;
}

nav ul li .menu-link {
  float: right;
}
*/

nav ul li a:link {
  color: #b8b7ae;
  text-decoration: none;
}

nav ul li a:visited {
  color: #b8b7ae;
  text-decoration: none;
}


nav ul li a:hover {
  color: #c94e50;
  text-decoration: none;
}

.fas {
  padding: 0px 10px 0px 0px;
}

.content h1 {
  text-align: left;
  color: #555555;
}